<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrtwon.framex_premium">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.mrtwon.framex_premium.StartedActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mrtwon.framex_premium.ActivityWebView.ActivityWebView"
            android:theme="@style/Style.Video"
            android:configChanges="orientation|screenSize"
            />
        <!--<activity android:name=".ActivityUpdate.ActivityUpdate"/>-->
        <activity android:name="com.mrtwon.framex_premium.ActivityWelcome.ActivityWelcome"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.mrtwon.framex_premium.MainActivity"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE"/>
            <data
                android:scheme="http"
                android:host="framex.application"
                />
        </intent-filter>
        </activity>
    </application>

</manifest>